
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  
}


.menuContainer {
  max-width: 1350px;
  margin: 0;
  
  
}

.back{
  padding: 32px;
  background-color: #05A5B2;
  position: fixed;
  z-index: 1000;
  width: 100%; 
  height: 59px;   
}

.menuContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
   
}

.logo {
  font-size: 20px;
  color: rgb(250, 250, 250);
  font-weight: 900;
  font-family: Raleway, sans-serif;
  position:relative;
  bottom: 10px;
}




.menuContainer .navbar ul li {
  position: relative;
  float: left;
}

.menuContainer .navbar ul li {
  font-size: 18px;
  bottom: 10px;
  color: #ffffff;
  margin-right: 15px;
  padding-left: 15px;
}

.menuContainer .navbar ul li:hover {
  color: #9F1880;
  cursor: pointer;
}

#menu {
  display: none;
  
}

.menu-icono {
  width: 25px;
  display: none;
}



 .header .tramitesOptions{
  color: #000000;
}

